mixin welcome(data)
  .welcome.lazy&attributes(attributes)

    .welcome__row.row.row_start
      .welcome__col.welcome__col_first
        .welcome__w
          h1.welcome__title Добро пожаловать!
          .welcome__text.text Краткая информация о чем и для чего был создан сайт. Краткая информация о чем и для чего был создан сайт. Краткая информация о чем и для чего был создан сайт. Краткая информация о чем и для чего был создан сайт. 
      .welcome__col.welcome__col_second
        .welcome__image.lazy(data-src="assets/images/content/hero-image.jpg" alt='')