mixin footer(data)
  footer.footer
    .footer__body
      .footer__container.container

    .footer__bottom
      .footer__container.container
        .footer__copyright © 2019 Информационный Портал. Все права защищены.
