mixin institutes(data)
  section.institutes
    .institutes__container.container
      h2.institutes__title.title Институты посвященной жизни
      ul.institutes__list.row.row_start
        li.institutes__item
          a.institutes__link.row.row_start(href="#")
            span.institutes__image
              img(src="assets/images/content/institutes-image-1.jpg", alt="")
            span.institutes__w
              span.institutes__category 7 Институтов
              span.institutes__item-title Мужские Институты
        li.institutes__item
          a.institutes__link.row.row_start(href="#")
            span.institutes__image
              img(src="assets/images/content/institutes-image-2.jpg", alt="")
            span.institutes__w
              span.institutes__category 16 Институтов
              span.institutes__item-title Женские Институты
        li.institutes__item
          a.institutes__link.row.row_start(href="#")
            span.institutes__image
              img(src="assets/images/content/institutes-image-3.jpg", alt="")
            span.institutes__w
              span.institutes__category 4 Института
              span.institutes__item-title Движения
