mixin header(data)
  header.header&attributes(attributes)
    .header__container.container.row.row_start
      a.header__logo.logo(href="#")
        span.logo__title Римско-католическая Преображенская епархия 
        span.logo__city в Новосибирске

      nav.header__nav.nav
        ul.nav__list.nav__list_main.row.row_start.row_top
          li.nav__item
            a.nav__link.link(href="#") Социальное служение
          li.nav__item
            a.nav__link.link(href="#") Католическая Церковь
          li.nav__item
            a.nav__link.link(href="#") Духовность Церкви
          li.nav__item
            a.nav__link.link(href="#") Институты Посвященной жизни
          li.nav__item.nav__item_more
            a.nav__link.link(href="#") Ещё
              != pugHelpers.Icon.call(locals, {iconName: 'menu-arrow', className: 'nav__link-icon', iconWidth: '8', iconHeight: '6'})
            ul.nav-sub
              li.nav-sub__item
                a.nav-sub__link.link(href="#") Социальное служение
              li.nav-sub__item
                a.nav-sub__link.link(href="#") Социальное служение
              li.nav-sub__item
                a.nav-sub__link.link(href="#") Социальное служение
              li.nav-sub__item
                a.nav-sub__link.link(href="#") Социальное служение
              li.nav-sub__item
                a.nav-sub__link.link(href="#") Социальное служение