mixin parishes(data)
  section.parishes.lazy(data-bg="url('assets/images/general/parishes-bg.jpg')")
    .parishes__container.container
      h2.parishes__title.title Приходы
      .parishes__row.row.row_start.row_top
        .parishes__col
          .parishes__parish.parish
            .parish__letter А
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Азово

          .parishes__parish.parish
            .parish__letter Б
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Барнаул
              li.parish__item
                a.parish__title.link(href="#") Белосток
              li.parish__item
                a.parish__title.link(href="#") Бердск
              li.parish__item
                a.parish__title.link(href="#") Бийск

          .parishes__parish.parish
            .parish__letter В
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Волчиха, Алтайский край
            

          .parishes__parish.parish
            .parish__letter Г
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Голышманово
              li.parish__item
                a.parish__title.link(href="#") Гофнунгстал


        .parishes__col
          .parishes__parish.parish
            .parish__letter В
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Волчиха, Алтайский край

          .parishes__parish.parish
            .parish__letter Г
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Голышманово
              li.parish__item
                a.parish__title.link(href="#") Гофнунгстал

          .parishes__parish.parish
            .parish__letter А
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Азово
                
          

          .parishes__parish.parish
            .parish__letter Б
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Барнаул
              li.parish__item
                a.parish__title.link(href="#") Белосток
              li.parish__item
                a.parish__title.link(href="#") Бердск
              li.parish__item
                a.parish__title.link(href="#") Бийск
            

        .parishes__col
          .parishes__parish.parish
            .parish__letter А
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Азово

          .parishes__parish.parish
            .parish__letter Б
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Барнаул
              li.parish__item
                a.parish__title.link(href="#") Белосток
              li.parish__item
                a.parish__title.link(href="#") Бердск
              li.parish__item
                a.parish__title.link(href="#") Бийск

          .parishes__parish.parish
            .parish__letter В
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Волчиха, Алтайский край
            

          .parishes__parish.parish
            .parish__letter Г
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Голышманово
              li.parish__item
                a.parish__title.link(href="#") Гофнунгстал


        .parishes__col
          .parishes__parish.parish
            .parish__letter В
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Волчиха, Алтайский край

          .parishes__parish.parish
            .parish__letter Г
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Голышманово
              li.parish__item
                a.parish__title.link(href="#") Гофнунгстал

          .parishes__parish.parish
            .parish__letter А
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Азово

          .parishes__parish.parish
            .parish__letter Б
            ul.parish__list
              li.parish__item
                a.parish__title.link(href="#") Барнаул
              li.parish__item
                a.parish__title.link(href="#") Белосток
              li.parish__item
                a.parish__title.link(href="#") Бердск
              li.parish__item
                a.parish__title.link(href="#") Бийск


                