.parishes
  background-position: 50% 0
  background-color: #eee8d9
  background-size: cover 
  
  &__container
    padding-top: $padding
    padding-bottom: $padding 
     
  // &__title

  // &__row


  &__col
    margin-right: 30px
    width: 22.9%
    
    &:last-child
      margin-right: 0
      
  &__parish
    margin-bottom: 30px