mixin articles(data)
  section.articles
    .articles__container.container
      h2.articles__title.title Католическая Церковь
      .articles__grid
        .articles__grid-top
          .articles__article.articles__article_big.article.article_big
            a.article__link(href="#")
              .article__image
                img(src="assets/images/content/church-categories-image-1.jpg", alt="")
              .article__title-w
                .article__title Франциск (папа римский)

          .articles__article.article.article_medium
            a.article__link(href="#")
              .article__image
                img(src="assets/images/content/church-categories-image-2.jpg", alt="")
              .article__title-w
                .article__title Конференция епископов РФ <br/>католические Епархии РФ

          .articles__article.article.article_medium
            a.article__link(href="#")
              .article__image
                img(src="assets/images/content/church-categories-image-3.jpg", alt="")
              .article__title-w
                .article__title Учебные заведения

        .articles__grid-bottom.row.row_start
          .articles__article.article.article_small
            a.article__link(href="#")
              .article__image
                img(src="assets/images/content/church-categories-image-4.jpg", alt="")
              .article__title-w
                .article__title Епархиальные центры

          .articles__article.article.article_small
            a.article__link(href="#")
              .article__image
                img(src="assets/images/content/church-categories-image-5.jpg", alt="")
              .article__title-w
                .article__title Епархиальный дом пожилых

          .articles__article.article.article_small
            a.article__link(href="#")
              .article__image
                img(src="assets/images/content/church-categories-image-6.jpg", alt="")
              .article__title-w
                .article__title Комиссии Епархии

      .articles__button-w
        a.articles__button.button(href="#") Смотреть больше