mixin latest-news(data)
  .latest-news&attributes(attributes)
    .latest-news__slider
      .latest-news__article
        .latest-news__article-date 13:09
        a.latest-news__article-link.link(href="#")
          span.latest-news__article-title Pew Research Center: 20% американцев считают себя католиками

      .latest-news__article
        .latest-news__article-date 12:40
        a.latest-news__article-link.link(href="#")
          span.latest-news__article-title В Санкт-Петербурге началась реставрация церкви Святого епископа и мученика Станислава

      .latest-news__article
        .latest-news__article-date 07:02
        a.latest-news__article-link.link(href="#")
          span.latest-news__article-title В Париже состоялось совещание по вопросам защиты религиозных меньшинств на Востоке

      .latest-news__article
        .latest-news__article-date 13:09
        a.latest-news__article-link.link(href="#")
          span.latest-news__article-title Pew Research Center: 20% американцев считают себя католиками

      .latest-news__article
        .latest-news__article-date 12:40
        a.latest-news__article-link.link(href="#")
          span.latest-news__article-title В Санкт-Петербурге началась реставрация церкви Святого епископа и мученика Станислава

      .latest-news__article
        .latest-news__article-date 07:02
        a.latest-news__article-link.link(href="#")
          span.latest-news__article-title В Париже состоялось совещание по вопросам защиты религиозных меньшинств на Востоке