mixin ministry(data)
  .ministry
    .ministry__container.container
      .ministry__row.row.row_start
        .ministry__image
          img.lazy(data-src="assets/images/content/ministry-image.jpg", alt="")
        .ministry__w
          .ministry__category Каритас

          h2.ministry__title.title.title_medium 
            a.link(href="") Социальное служение
          
          .ministry__text.text Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.